body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .test {
  background-color: blanchedalmond;
} */

.test2 {
display: flex;

justify-items: flex-end;
  justify-content:space-evenly;

 flex-direction: column;
  align-items:center;
 
}

.test3 {
  display: flex;
    justify-content:space-evenly;

}

.test4{
  display: flex;  
  align-items: center;
  justify-content:space-evenly;
  gap: 5px;
  
}